In [3]:
import pandas as pd

In [43]:
df_parquet = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow')

In [17]:
# df_parquet.count()

## Converte .parquet para .csv

In [31]:
# Converte .parquet para .csv
# df_parquet.to_csv('yellow_tripdata_2021-01.csv', index=False)

In [32]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [18]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

### Configura o sqlalchem para conexão com o postgres, criação da tabela e inserção dos dados

In [13]:
from sqlalchemy import create_engine

In [22]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [34]:
print(pd.io.sql.get_schema(df_parquet, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [38]:
from time import time

In [45]:
file = 'yellow_tripdata_2021-01.parquet'
batch_size = 100_000
df = pd.read_parquet(file, engine='pyarrow')

In [46]:
for i in range(0, len(df_parquet), batch_size):
    t_start = time()
    print(f"Inserindo dados do lote {i + 1}")
    batch = df.iloc[i:i+batch_size]
    batch.to_sql(name="yellow_taxi_data", con=engine, if_exists="append", index=False)
    t_end = time()
    print(f"Concluído! Levou {t_end - t_start} segundos")

Inserindo dados do lote 1
Inserindo dados do lote 100001
Inserindo dados do lote 200001
Inserindo dados do lote 300001
Inserindo dados do lote 400001
Inserindo dados do lote 500001
Inserindo dados do lote 600001
Inserindo dados do lote 700001
Inserindo dados do lote 800001
Inserindo dados do lote 900001
Inserindo dados do lote 1000001
Inserindo dados do lote 1100001
Inserindo dados do lote 1200001
Inserindo dados do lote 1300001

In [37]:
# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [36]:
# %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

### Inserindo os dados no postgres em lotes de 100k

In [35]:
# for i, chunk in enumerate(pd.read_csv(file, chunksize=chunk_size)):
#     t_start = time()
#     chunk.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     chunk.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
#     %time chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
#     t_end = time()
#     print(f'Lote {i + 1} inserido, levou {t_end - t_start} segundos')